In [1]:
# Import dependencies
import pandas as pd
import datetime

In [2]:
# Read CSV into DataFrame
citibike = pd.read_csv("2023-tripdata.csv")
citibike.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month
0,0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member,1
1,1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member,1
2,2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member,1
3,3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member,1
4,4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member,1

In [5]:
# Empty lists to store station information
station_names = []
station_ids = []
station_lats = []
station_lons = []
jan_counts = []
feb_counts = []
mar_counts = []
apr_counts = []
may_counts = []
jun_counts = []
jul_counts = []
aug_counts = []
sep_counts = []
oct_counts = []
nov_counts = []
dec_counts = []

# Add 0s to each month count array
def add_new_counts():
    jan_counts.append(0)
    feb_counts.append(0)
    mar_counts.append(0)
    apr_counts.append(0)
    may_counts.append(0)
    jun_counts.append(0)
    jul_counts.append(0)
    aug_counts.append(0)
    sep_counts.append(0)
    oct_counts.append(0)
    nov_counts.append(0)
    dec_counts.append(0)

def increment_month(month, index):
    # Increase defined month count by 1
    match(month):
        case 1:
            jan_counts[index] += 1
        case 2:
            feb_counts[index] += 1
        case 3:
            mar_counts[index] += 1
        case 4:
            apr_counts[index] += 1
        case 5:
            may_counts[index] += 1
        case 6:
            jun_counts[index] += 1
        case 7:
            jul_counts[index] += 1
        case 8:
            aug_counts[index] += 1
        case 9:
            sep_counts[index] += 1
        case 10:
            oct_counts[index] += 1
        case 11:
            nov_counts[index] += 1
        case 12:
            dec_counts[index] += 1

# Iterate over rows of DataFrame
# If station ID does not exist in station_ids, add all of its data to appropriate arrays
# If it does, increment the specific month of the ride by 1
for index, row in citibike.iterrows():
    if row["start_station_id"] in station_ids:
        increment_month(datetime.datetime.strptime(row["started_at"], "%Y-%m-%d %H:%M:%S").month, station_ids.index(row["start_station_id"]))
    if row["end_station_id"] in station_ids:
        increment_month(datetime.datetime.strptime(row["started_at"], "%Y-%m-%d %H:%M:%S").month, station_ids.index(row["end_station_id"]))
    if not row["start_station_id"] in station_ids:
        station_ids.append(row["start_station_id"])
        station_names.append(row["start_station_name"])
        station_lats.append(row["start_lat"])
        station_lons.append(row["start_lng"])
        add_new_counts()
        increment_month(datetime.datetime.strptime(row["started_at"], "%Y-%m-%d %H:%M:%S").month, station_ids.index(row["start_station_id"]))
    if not row["end_station_id"] in station_ids:
        station_ids.append(row["end_station_id"])
        station_names.append(row["end_station_name"])
        station_lats.append(row["end_lat"])
        station_lons.append(row["end_lng"])
        add_new_counts()
        increment_month(datetime.datetime.strptime(row["started_at"], "%Y-%m-%d %H:%M:%S").month, station_ids.index(row["end_station_id"]))

In [6]:
# Create new DataFrame with the station data
stations_df = pd.DataFrame(data={"station_id": station_ids,
    "station_name": station_names, "lat": station_lats, "lon": station_lons,
    "jan_count": jan_counts, "feb_count": feb_counts, "mar_count": mar_counts, "apr_count": apr_counts,
    "may_count": may_counts, "jun_count": jun_counts, "jul_count": jul_counts, "aug_count": aug_counts,
    "sep_count": sep_counts, "oct_count": oct_counts, "nov_count": nov_counts, "dec_count": dec_counts})
stations_df

,station_id,station_name,lat,lon,jan_count,feb_count,mar_count,apr_count,may_count,jun_count,jul_count,aug_count,sep_count,oct_count,nov_count,dec_count
0,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,3464,3258,3596,4223,5023,5345,5449,5916,5181,5347,4227,3473
1,JC009,Hamilton Park,40.727596,-74.044247,2551,2168,2686,3325,4305,4483,4656,4672,4139,4243,3362,2622
2,HB401,Southwest Park - Jackson St & Observer Hwy,40.737551,-74.041664,1291,1111,1293,1995,2388,2553,2993,3352,2546,2659,1833,1469
3,HB408,Marshall St & 2 St,40.740802,-74.042521,1303,1120,1315,1772,2169,2358,2646,3065,2390,2900,1969,1526
4,JC082,Manila & 1st,40.721651,-74.042884,1562,1393,1602,2096,2633,2537,2535,2681,2428,2524,2035,1656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,5938.11,E 16 St & Irving Pl,40.735367,-73.987974,0,0,0,0,0,0,0,0,0,0,0,2
568,4098.06,New York Ave & St Marks Ave,40.726129,-74.034369,0,0,0,0,0,0,0,0,0,0,0,1
569,4143.04,3 Ave & Carroll St,40.677027,-73.986500,0,0,0,0,0,0,0,0,0,0,0,2
570,5445.02,Suffolk St & Stanton St,40.726129,-74.034369,0,0,0,0,0,0,0,0,0,0,0,2
571,6474.11,E 40 St & 5 Ave,40.752062,-73.981632,0,0,0,0,0,0,0,0,0,0,0,1

In [7]:
# Export DataFrame to CSV
stations_df.to_csv("stations.csv")